@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css");
.app {
  background-color: #ebebeb;
  height: 100vh;
}

header {
  background-color: #3f3f3f;
}

.header {
  width: 80%;
  margin: auto;
  color: #cccccc;
}

.logo {
  color: white;
}

.logo span {
  color: red;
  font-weight: 700;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation .nav-left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 20em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0.5em;
}

.navigation .nav-left div {
  padding-bottom: 0.5em;
}

.navigation .nav-left .active {
  color: white;
  border-bottom: 1px red solid;
}

.navigation .nav-right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 15em;
}

.navigation .nav-right img {
  height: 3em;
  width: 3em;
  border-radius: 3em;
}

.navigation .nav-right .messages {
  background-color: #262626;
  padding: 0.3em 0.7em;
  color: white;
}

.main {
  width: 80%;
  margin: auto;
}

.topic-tabs {
  font-size: 0.9em;
  margin-top: 2em;
}

.topic-tabs .nav-link {
  color: rgba(63, 63, 63, 0.6);
}

.topic-tabs .nav-tabs {
  border-bottom: 1px solid red !important;
}

.topic-tabs .active {
  background-color: red !important;
  border-color: red red red !important;
  color: white !important;
  font-weight: 700;
}

.container {
  padding: 0 !important;
  margin-top: 2em;
}

.container .news-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.container .news-card {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32%;
          flex: 0 0 32%;
  background-color: white;
  position: relative;
  height: 15em;
  overflow: hidden;
  -webkit-box-shadow: 0px 1px 5px 2px rgba(63, 63, 63, 0.3);
          box-shadow: 0px 1px 5px 2px rgba(63, 63, 63, 0.3);
}

.container .news-card img {
  height: 15em;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 0;
}

.container .news-card .news-short-info {
  position: absolute;
  width: 100%;
  z-index: 5;
  height: 15em;
  bottom: 0;
  color: white;
}

.container .news-card .news-short-info::before {
  content: '';
  height: 100%;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.9)));
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.container .news-card .news-card-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 0.85em;
  color: #cccccc;
}

.container .news-card .news-div {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 1em 1em 0.5em 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container .news-card .news-category {
  color: red;
  font-size: 0.8em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.container .news-card .news-title {
  font-size: 1.2em;
  font-weight: 700;
}

.container .news-card .news-short-description {
  font-size: 0.9em;
}
/*# sourceMappingURL=style.css.map */